extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner PCS Admin
    div.Message
      div.Title
        h3 Admin
      span.Details Adminstration functionality
    div.NavButtons
      a(href="/admin/test-connection")
          div.NavButton Test Nylas