extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner AB - Personal Calendar Sync
    div.Message
      div.Title
        h3 Hello
        h1 World
      span.Details Hello world!
    div.NavButtons
      a(href="/")
          div.NavButton TBD